##REQUIRES $item=org.nrg.xft.XFTItem $user=org.nrg.xdat.security.XDATUser
<!-- BEGIN ProjectSelector.vm -->
#set($user=$data.getSession().getAttribute("user"))
#set($create_projects= $user.getAllowedValues("$item.getXSIType()","$item.getXSIType()/project","create"))
		#set($projectMap = $user.getCachedItemValuesHash("xnat:projectData","read",false,"xnat:projectData/ID","xnat:projectData/secondary_ID"))
#if($project)
  #if($item.getProperty("project"))
  
  #else
   $item.setProperty("$item.getXSIType()/project",$project)
  #end
#else
  #set($project=$item.getProperty("project"))
#end
<TABLE><TR><TH ALIGN="left">
Primary $displayManager.getSingularDisplayNameForProject(): </TH><TD>
#if($item.getProperty("project"))
<INPUT ID="$item.getXSIType()/project" type="hidden" name="$item.getXSIType()/project" value="$item.getProperty("project")">
#if($projectMap.get($item.getProperty("project")))
$projectMap.get($item.getProperty("project"))
#else
$item.getProperty("project")
#end
#else
#if($create_projects.size()>0)
<SELECT class="required" ID="$item.getXSIType()/project" name="$item.getXSIType()/project" 
 #if($item.getProperty("ID"))
	ONCHANGE="">
 #else
     #if($item.getProperty("project"))
	ONCHANGE="alreadyIncremented=false;getIncrementedSubjectLabel(this.value);">
     #else
	ONCHANGE="alreadyIncremented=false;getSubjectCreationRestriction(this.value);">
     #end
 #end
<option value="">(SELECT)</option>
#foreach($proj in $create_projects)
	#if($proj!="*")
		<option value="$proj">
			#if($projectMap.get($proj))
				$projectMap.get($proj)
			#end
		</option>
	#end
#end
</SELECT>
#else
ERROR:  No $displayManager.getPluralDisplayNameForProject().toLowerCase() exist.  Please create a $displayManager.getSingularDisplayNameForProject().toLowerCase() before attempting to insert this item.
#end
#end
</TD>
</TR>
<TR>
 <TH ALIGN="left"><label ID='${item.getXSIType()}_label'>#if($item.instanceOf("xnat:subjectData"))$displayManager.getSingularDisplayNameForSubject()#else Experiment#end
's ID within this $displayManager.getSingularDisplayNameForProject().toLowerCase():</label></TH>

 <TD>
	#if($subject.getId())
        <INPUT type="hidden" type="text" value="$!item.getProperty("label")" id="$item.getXSIType()/label" name="$item.getXSIType()/label" />
        <span id="subject_label_placeholder">$!item.getProperty("label")</span>
        <a onclick="modifyLabel();"><img border="0" src="$content.getURI("images/e.gif")"/></a>
	#else
		<INPUT class="required" size="10" type="text" value="$!item.getProperty("label")" id="$item.getXSIType()/label" name="$item.getXSIType()/label" ONCHANGE="identifierChanged();"/>
	#end
 </TD>
 <TD></TD>
</TR>
#if($displayGroup)
<TR>
 <TH ALIGN="left"><label ID='${item.getXSIType()}_group'>#if($item.instanceOf("xnat:subjectData"))$displayManager.getSingularDisplayNameForSubject()#else Experiment#end
's research group within this $displayManager.getSingularDisplayNameForProject().toLowerCase():</label></TH>
 <TD>
 <INPUT size="10" type="text" value="$!item.getProperty("group")" id="$item.getXSIType()/group" name="$item.getXSIType()/group" value="$!item.getProperty("group")"/>
 </TD>
 <TD></TD>
</TR>
#end
</TABLE>
<script type="text/javascript" src="$content.getURI('scripts/subject/SubjectLabelEditor.js')"></SCRIPT>
<SCRIPT type="text/javascript" LANGUAGE="JavaScript">
		//USERS can create a 'eventIdentifierChanged' function in calling template if desired
		function identifierChanged(){
		  var idBox = document.getElementById("$item.getXSIType()/label");
		  idBox.value=fixSpaces(idBox.value);
}
function fixSpaces(val)
{
        var temp = stringTrim(val);
        var newVal = '';
        temp = temp.split(' ');
        for(var c=0; c < temp.length; c++) {
                newVal += temp[c];
        }
        
        newVal = newVal.replace(/[-]/,"_");
        newVal = newVal.replace(/[&]/,"_");
        newVal = newVal.replace(/[?]/,"_");
        newVal = newVal.replace(/[<]/,"_");
        newVal = newVal.replace(/[>]/,"_");
        newVal = newVal.replace(/[(]/,"_");
        newVal = newVal.replace(/[)]/,"_");
        if (newVal!=val){
           xModalMessage('Project Selector',"Spaces and special characters are not allowed in identifier fields.");
        }
        return newVal;
}

function stringTrim(str)
{
   return str.replace(/^\s*|\s*$/g,"");
}

///////////////////////////
///////////////////////////
// METHODS ADDED FOR HCP //
///////////////////////////
///////////////////////////

var req;

function getReadOnlyStatus(project) {
	var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.hcp.ajax.AutoIncrementSubjectLabel";
	url = url + "&remote-method=getReadOnlyStatus";
	url = url + "&project=" + project;
	if (window.XMLHttpRequest) {
		req = new XMLHttpRequest();
	} else if (window.ActiveXObject) {
		req = new ActiveXObject("Microsoft.XMLHTTP");
	}
	document.getElementById("$item.getXSIType()/label").readOnly=false;
	document.getElementById("$item.getXSIType()/label").style.color="#000000";
	req.open("GET", url, true);
	req.onreadystatechange = readonlyCallback;
	//alert("Loading REQUEST");
	req.send(null);
}

function readonlyCallback() {
	if (req.readyState == 4) {
		if (req.status == 200) {
			// handle response 
			if (req.responseText=="true") {	
				document.getElementById("$item.getXSIType()/label").readOnly=true;
				document.getElementById("$item.getXSIType()/label").style.color="#666666";
			}
		}
	}	
}

var projVar;

function getSubjectCreationRestriction(project) {
	var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.hcp.ajax.ProjectRestrictionGetter";
	url = url + "&remote-method=getSubjectRestrictionStatus";
	url = url + "&project=" + project;
	projVar=project;
	if (window.XMLHttpRequest) {
		req = new XMLHttpRequest();
	} else if (window.ActiveXObject) {
		req = new ActiveXObject("Microsoft.XMLHTTP");
	}
	try {
		// in try block in case button is not yet loaded
		document.getElementById("submitButton").disabled=false;
	} catch (e) { }
	req.open("GET", url, true);
	req.onreadystatechange = subjectRestrictionCallback;
	req.send(null);
}

function subjectRestrictionCallback() {
	if (req.readyState == 4) {
		if (req.status == 200) {
			// handle response 
			if (req.responseText=="true") {	
				try {
					getRestrictAlert(projVar);
					resetLabel();
					alreadyIncremented=false;
				} catch (e) { }
			} else if ( ! alreadyIncremented ) {
				// If no restriction, get incremented value if there is one
				getIncrementedSubjectLabel(projVar);
			} else {
				resetLabel();
			}
		}
	}	
}

function resetLabel() {
	document.getElementById("$item.getXSIType()/label").readOnly=false;
	document.getElementById("$item.getXSIType()/label").style.color="#000000";
	document.getElementById("$item.getXSIType()/label").value="";
	alreadyIncremented=false;
}

function getRestrictAlert(project) {
	var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.hcp.ajax.ProjectRestrictionGetter";
	url = url + "&remote-method=getRestrictProjectDesc";
	url = url + "&project=" + project;
	if (window.XMLHttpRequest) {
		req = new XMLHttpRequest();
	} else if (window.ActiveXObject) {
		req = new ActiveXObject("Microsoft.XMLHTTP");
	}
	req.open("GET", url, true);
	req.onreadystatechange = restrictProjectDescCallback;
	//alert("Loading REQUEST");
	req.send(null);
}

function restrictProjectDescCallback() {
	if (req.readyState == 4) {
		if (req.status == 200) {
			// handle response 
			if (req.responseText==null || req.responseText==undefined || req.responseText.length<1) {	
				xModalMessage('Project Selector',"ERROR:  Subjects for this project should be added under the registration project.");
			} else {
				xModalMessage('Project Selector',"ERROR:  Subjects for this project should be added under the following project:\n\n         " + req.responseText);
			}
			try {
				document.getElementById("submitButton").disabled=true;
			} catch (e) { }
		}
	}	
}

function getIncrementedSubjectLabel(project) {
	var url = "$content.getURI("servlet/AjaxServlet")?remote-class=org.nrg.hcp.ajax.AutoIncrementSubjectLabel";
	url = url + "&remote-method=getNextLabel";
	url = url + "&project=" + project;
	if (window.XMLHttpRequest) {
		req = new XMLHttpRequest();
	} else if (window.ActiveXObject) {
		req = new ActiveXObject("Microsoft.XMLHTTP");
	}
	document.getElementById("$item.getXSIType()/label").readOnly=false;
	document.getElementById("$item.getXSIType()/label").style.color="#000000";
	alreadyIncremented=true;

	req.open("GET", url, true);
	req.onreadystatechange = incrementCallback;
	//alert("Loading REQUEST");
	req.send(null);
}

function incrementCallback() {
	if (req.readyState == 4) {
		if (req.status == 200) {
		        // handle response 
			var responseArr = req.responseText.split(",");
			if (responseArr == null || responseArr.length<1) {
				document.getElementById("$item.getXSIType()/label").value="";
				#if ($item.getProperty("project"))
				getSubjectCreationRestriction("$item.getProperty('project')");
				#end
				return;
			}
			var newlabel = responseArr[0].replace(/^ +/,"").replace(/ +$/,"");
			document.getElementById("$item.getXSIType()/label").value=newlabel;
			if (newlabel == null || newlabel.length<1) {
				#if ($item.getProperty("project"))
				getSubjectCreationRestriction("$item.getProperty("project")");
				#end
				return;
			}
			if (responseArr.length>1) {
				if (newlabel.length>0 && responseArr[1]=="true") {
					document.getElementById("$item.getXSIType()/label").readOnly=true;
					document.getElementById("$item.getXSIType()/label").style.color="#666666";
				}
				#if ((! $matches.equals(null)) && ($matches.size() > 0))
				document.getElementById("errorBox").innerHTML=
					"ERROR: &nbsp;The generated Subject ID was recently applied in a different session. &nbsp;The save operation could not be completed. &nbsp;" +
					"A new ID has been assigned for this subjet. &nbsp;Please take note of the new ID and retry your submit.";
				#end
			} else {
				#if ($item.getProperty("project"))
				getSubjectCreationRestriction("$item.getProperty("project")");
				#end
			} 
		}
	}	
}

var alreadyIncremented=false;
#if($item.getProperty("project"))
	#if($item.getProperty("ID"))
// When editing, set read-only status
getReadOnlyStatus("$item.getProperty("project")");
	#else
// When adding subject, auto-set value
getIncrementedSubjectLabel("$item.getProperty("project")");
	#end
#end

///////////////////////////////
///////////////////////////////
// END METHODS ADDED FOR HCP //
///////////////////////////////
///////////////////////////////
</SCRIPT>
<script type="text/javascript">  
function modifyLabel(){
	if(!window.subjectLabelEditor){
		window.subjectLabelEditor = new XNAT.app.SubjectLabelEditor("$project");
		window.subjectLabelEditor.onModification.subscribe(function (event, newLabel){
			document.getElementById("$item.getXSIType()/label").value = newLabel;
			jq("#subject_label_placeholder").text(newLabel);
		});
		window.subjectLabelEditor.render();
    }
    window.subjectLabelEditor.show(document.getElementById("$item.getXSIType()/label").value);
}
</script> 
<!-- END ProjectSelector.vm -->
