	#if ($item.canEdit($user))
        	#set( $TOURI = "/app/action/DisplayItemAction/search_element/val%3AsanityChecks/search_field/val%3AsanityChecks.label/search_value/${om.getLabel()}_sc/popup/false/project/$project" )
<!-- Sequence: 11 -->
 <li class="yuimenuitem" style="margin-bottom:2px">
     		<a class="yuimenuitemlabel" href="#AdditionalProcess#ox"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Additional Processing</a>
            	<DIV ID="additionalprocessbox" class="yuimenu">
            	 <DIV class="bd">
              		<ul class="first-of-type">
			<li class="yuimenuitem n2 ">


	<script type="text/javascript" src="$content.getURI("scripts/sanitychecks/sanitychecks.js")"></script>
	<script type="text/javascript" src="$content.getURI("scripts/evphysio/evphysio.js")"></script>
      <li class="yuimenuitem lockable">
        <A href="" ONCLICK="rerunChecks('$TOURI');return false;">
		<div class="ic"><img border="0" src="$content.getURI("images/delete.gif")"/></div><div class="ic_spacer">&nbsp;</div>Run Sanity Checks
	</A>
      </li>
      <li class="yuimenuitem lockable">
        <A href="" ONCLICK="rerunEvPhysio();return false;">
		<div class="ic"><img border="0" src="$content.getURI("images/delete.gif")"/></div><div class="ic_spacer">&nbsp;</div>Generate EV/PhysioTxt files
	</A>
      </li>
			</li>
              		</ul>
          </div>
         </div>
</li>
<script type="text/javascript">
var evPhysioURI = window.location.protocol + "//" + window.location.host +  '$content.getURI("/")'.replace(/[\/]*$/,"") + '/data/experiments/$!om.getId()/evphysiogen';
var sanityCheckURI = window.location.protocol + "//" + window.location.host +  '$content.getURI("/")'.replace(/[\/]*$/,"") + '/data/experiments/$!om.getId()/sanitychecks';
var omID = "${om.getId()}";
</script>
	#end
