.qq-uploader { position:relative; width: 100%; height:435px;}

.qq-done-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center; margin-left:10px; float:left;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff; 
}
.qq-done-button-hover {background:#cc0000;}
.qq-done-button-focus {outline:1px dotted black;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center; margin-left:10px; float:left;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-list-area {position:relative;float:left;width:auto;overflow:auto;height:250px;width:100%}
.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px; }
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-uploading-text, .qq-upload-cancel, .qq-upload-failed-text, .qq-indeterminate-text, .qq-upload-complete-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-uploading-text {display:none;}
.qq-upload-indeterminate-text {display:none;}
.qq-upload-complete-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
.qq-upload-indeterminate .qq-upload-indeterminate-text {display:inline;}
.qq-upload-uploading .qq-upload-uploading-text {display:inline;}
.qq-upload-complete .qq-upload-complete-text {display:inline;}

.qq-uploader-instructions {margin-bottom:15px;}

.qq-return-floatmessage {position:absolute;z-index:10001;width:auto;cursor:pointer;background-color:#FFFFCC; }
.qq-return-message {width:auto;cursor:pointer;background-color:#FFFFCC; }

.qq-extract-zip {
    display:block; /* or inline-block */
    width: auto; padding: 7px 0; text-align:center; margin-left:10px; float:left;    
}

.opaque {
	opacity:0.5;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
   }
.modal {
        background-color: white;
        height: 100%;
        min-height: 100%;
        margin-left: -50%; 
        padding: 20px;
        position: fixed; top: 60px; left: 50%;
        width: 100%;
        z-index: 1001;
}
.hidden { display: none !important; }

