<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ASEGRegionAnalysis Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ASEGRegionAnalysis Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>mrSession_ID</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("fs:asegRegionAnalysis/time")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("fs:asegRegionAnalysis/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/note")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("fs:asegRegionAnalysis/project")</TD></TR>
							<TR><TD>BrainMaskNVox</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainMaskNVox")</TD></TR>
							<TR><TD>BrainMaskVol</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainMaskVol")</TD></TR>
							<TR><TD>BrainSegNVox</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainSegNVox")</TD></TR>
							<TR><TD>BrainSegVol</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/BrainSegVol")</TD></TR>
							<TR><TD>ICV</TD><TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/ICV")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs:asegRegionAnalysis -->
#set($fs_asegRegionAnalysis_region_11_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/regions/region").size() - 1)
#if($fs_asegRegionAnalysis_region_11_NUM_ROWS>=0)
<table>

  <tr><TH>Region Name</TH><TH>Seg Id</TH><TH>Hemisphere</TH><TH>NVoxels</TH><TH>Volume</TH><TH>normMean</TH><TH>normStdDev</TH><TH>normMin</TH><TH>normMax</TH><TH>Range</TH></tr>							#set($fs_asegRegionAnalysis_region_11_NUM_ROWS=$item.getChildItems("fs:asegRegionAnalysis/regions/region").size() - 1)
	
	#foreach($fs_asegRegionAnalysis_region_11_COUNTER in [0..$fs_asegRegionAnalysis_region_11_NUM_ROWS])
<!-- BEGIN fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER] -->
	<tr>
	<TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/name")</TD>
	<TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/SegId")</TD>
	<TD>$!item.getStringProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/hemisphere")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/NVoxels")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/Volume")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/normMean")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/normStdDev")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/normMin")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/normMax")</TD>
	<TD>$!item.getDoubleProperty("fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER]/normRange")</TD>
	
	</tr>
	
	
	<!-- END fs:asegRegionAnalysis/regions/region[$fs_asegRegionAnalysis_region_11_COUNTER] -->
								#end
							

</table>
#end


<!-- END fs:asegRegionAnalysis -->
		</TD>
	</TR>
</TABLE>
