#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
$page.setTitle("QC Chart Display")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
<link type="text/css" rel="stylesheet" href="$content.getURI('style/project/qcCharts.css')">
<link href="$content.getURI('scripts/c3/c3.css')" rel="stylesheet" type="text/css">
<link href="$content.getURI('scripts/box/box.css')" rel="stylesheet" type="text/css">
<script type="text/javascript" src="$content.getURI("scripts/project/qcCharts.js")"></script>	
<script type="text/javascript" src="$content.getURI('scripts/c3/c3_hcp.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/d3-hcp/d3.js')" charset="utf-8"></script>
<script type="text/javascript" src="$content.getURI('scripts/box/box.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/box/hbox.js')"></script>

<!-- qccharts_tab is not in use now, but is used if displayed on a tab -->
<div id="qccharts_tab"></div>
<div id="qccharts" class="qccharts_container">
<div id="qccharts_header" class="qccharts_header"></div> 
</div>

<script language="javascript">
function qcChartInit(){
	populateQcCharts("$om.getId()");
}
YAHOO.util.Event.onDOMReady(qcChartInit());
</script>

