<?xml version="1.0" encoding="UTF-8"?>
<!-- InstanceSettings.xml.erb - This is the version that is used for creation of InstanceSettings.xml during deployment -->
<!-- Schema changes should be made in InstanceSettings.xml.erb                                                          -->
<Instance_Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schemas/xdat/instance.xsd" site_url="<%= site_url %>" admin_email="<%= admin_email %>" archive_root_path="<%= archive_path %>" prearchive_path="<%= prearchive_path %>" cache_path="<%= cache_path %>" smtp_server="<%= smtp_server %>" thumbnail_path="<%= thumbnail_path %>" lores_path="<%= lores_path %>" pipeline_path="<%= pipeline_path %>" require_login="true" user_registration="true" enable_csrf_token="false">
        <Databases>
                <Database Type="POSTGRESQL" Id="<%= db_id %>" Driver="org.postgresql.Driver" Url="jdbc:postgresql://<%= db_host %>/<%= db_name %>" User="<%= db_user %>" Pass="<%= db_pass %>" MaxConnections="<%= db_conns %>"/>
        </Databases>
        <Models>
                <Data_Model File_Name="security.xsd" File_Location="schemas/security" DB="<%= db_id %>"/>
                <Data_Model File_Name="birnprov.xsd" File_Location="schemas/birn" DB="<%= db_id %>"/>
                <Data_Model File_Name="xnat.xsd" File_Location="schemas/xnat" DB="<%= db_id %>"/>
                <Data_Model File_Name="workflow.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
                <Data_Model File_Name="repository.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
                <Data_Model File_Name="project.xsd" File_Location="schemas/project" DB="<%= db_id %>"/>
                <Data_Model File_Name="assessments.xsd" File_Location="schemas/assessments" DB="<%= db_id %>"/>
                <Data_Model File_Name="catalog.xsd" File_Location="schemas/catalog" DB="<%= db_id %>"/>
                <Data_Model File_Name="protocolValidation.xsd" File_Location="schemas/validation" DB="<%= db_id %>"/>
                <Data_Model File_Name="sanityChecks.xsd" File_Location="schemas/sanityChecks" DB="<%= db_id %>"/>
		<Data_Model File_Name="screeningAssessment.xsd" File_Location="schemas/screening" DB="<%= db_id %>"/>
		<Data_Model File_Name="fs.xsd" File_Location="schemas/HCP" DB="<%= db_id %>"/>
                <Data_Model File_Name="synthetic.xsd" File_Location="schemas/FC1000" DB="<%= db_id %>"/>
                <Data_Model File_Name="gur.xsd" File_Location="schemas/GUR" DB="<%= db_id %>"/>
                <Data_Model File_Name="metadata.xsd" File_Location="schemas/HCPMetadata" DB="<%= db_id %>"/>
                <Data_Model File_Name="nontoolbox.xsd" File_Location="schemas/nontoolbox" DB="<%= db_id %>"/>
                <Data_Model File_Name="lsVisit.xsd" File_Location="schemas/LSVisit" DB="<%= db_id %>"/>
                <Data_Model File_Name="uminnLS1BVisit.xsd" File_Location="schemas/LSUMinn" DB="<%= db_id %>"/>
                <Data_Model File_Name="hcpVisit.xsd" File_Location="schemas/HCPVisit" DB="<%= db_id %>"/>
                <Data_Model File_Name="hcpRestrictedIDs.xsd" File_Location="schemas/HCPRestricted" DB="<%= db_id %>"/>
		<Data_Model File_Name="toolbox.xsd" File_Location="schemas/toolbox" DB="<%= db_id %>"/>
		<Data_Model File_Name="satisfactionSurvey.xsd" File_Location="schemas/HCPSurvey" DB="<%= db_id %>"/>
		<Data_Model File_Name="megSurvey.xsd" File_Location="schemas/MEGSurvey" DB="<%= db_id %>"/>
                <Data_Model File_Name="radRead.xsd" File_Location="schemas/radRead" DB="<%= db_id %>"/>
                <Data_Model File_Name="ssaga.xsd" File_Location="schemas/ssaga" DB="<%= db_id %>"/>
                <!--<Data_Model File_Name="ext.xsd" File_Location="schemas/ext" DB="<%= db_id %>"/>-->
		<!-- Start modules schemas: Reserved for xnat_builder, don't modify anything between this line and the end modules line. -->
		<!-- End modules schemas: Reserved for xnat_builder, don't modify anything between this line and the start modules line. -->
        </Models>
</Instance_Settings>
